In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("dataset.csv/Food_Delivery_Times.csv")

In [3]:
df.shape

(1000, 9)

In [4]:
df.describe()

,Order_ID,Distance_km,Preparation_Time_min,Courier_Experience_yrs,Delivery_Time_min
count,1000.000000,1000.000000,1000.000000,970.000000,1000.000000
mean,500.500000,10.059970,16.982000,4.579381,56.732000
std,288.819436,5.696656,7.204553,2.914394,22.070915
min,1.000000,0.590000,5.000000,0.000000,8.000000
25%,250.750000,5.105000,11.000000,2.000000,41.000000
50%,500.500000,10.190000,17.000000,5.000000,55.500000
75%,750.250000,15.017500,23.000000,7.000000,71.000000
max,1000.000000,19.990000,29.000000,9.000000,153.000000

In [5]:
df.head()

,Order_ID,Distance_km,Weather,Traffic_Level,Time_of_Day,Vehicle_Type,Preparation_Time_min,Courier_Experience_yrs,Delivery_Time_min
0,522,7.93,Windy,Low,Afternoon,Scooter,12,1.0,43
1,738,16.42,Clear,Medium,Evening,Bike,20,2.0,84
2,741,9.52,Foggy,Low,Night,Scooter,28,1.0,59
3,661,7.44,Rainy,Medium,Afternoon,Scooter,5,1.0,37
4,412,19.03,Clear,Low,Morning,Bike,16,5.0,68

In [6]:
df.tail()

,Order_ID,Distance_km,Weather,Traffic_Level,Time_of_Day,Vehicle_Type,Preparation_Time_min,Courier_Experience_yrs,Delivery_Time_min
995,107,8.50,Clear,High,Evening,Car,13,3.0,54
996,271,16.28,Rainy,Low,Morning,Scooter,8,9.0,71
997,861,15.62,Snowy,High,Evening,Scooter,26,2.0,81
998,436,14.17,Clear,Low,Afternoon,Bike,8,0.0,55
999,103,6.63,Foggy,Low,Night,Scooter,24,3.0,58

In [7]:
df.isnull().sum()

Order_ID                   0
Distance_km                0
Weather                   30
Traffic_Level             30
Time_of_Day               30
Vehicle_Type               0
Preparation_Time_min       0
Courier_Experience_yrs    30
Delivery_Time_min          0
dtype: int64

In [8]:
df.isnull().sum().sum()

np.int64(120)

In [9]:
df.columns

Index(['Order_ID', 'Distance_km', 'Weather', 'Traffic_Level', 'Time_of_Day',
       'Vehicle_Type', 'Preparation_Time_min', 'Courier_Experience_yrs',
       'Delivery_Time_min'],
      dtype='object')

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Order_ID                1000 non-null   int64
 1   Distance_km             1000 non-null   float64
 2   Weather                 970 non-null    object
 3   Traffic_Level           970 non-null    object
 4   Time_of_Day             970 non-null    object
 5   Vehicle_Type            1000 non-null   object
 6   Preparation_Time_min    1000 non-null   int64
 7   Courier_Experience_yrs  970 non-null    float64
 8   Delivery_Time_min       1000 non-null   int64
dtypes: float64(2), int64(3), object(4)
memory usage: 70.4+ KB

In [11]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
df['Weather']=le.fit_transform(df['Weather'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Order_ID                1000 non-null   int64
 1   Distance_km             1000 non-null   float64
 2   Weather                 1000 non-null   int64
 3   Traffic_Level           970 non-null    object
 4   Time_of_Day             970 non-null    object
 5   Vehicle_Type            1000 non-null   object
 6   Preparation_Time_min    1000 non-null   int64
 7   Courier_Experience_yrs  970 non-null    float64
 8   Delivery_Time_min       1000 non-null   int64
dtypes: float64(2), int64(4), object(3)
memory usage: 70.4+ KB

In [12]:
df['Traffic_Level']=df['Traffic_Level'].fillna(df['Traffic_Level'].mode()[0])
df['Weather']=df['Weather'].fillna(df['Weather'].mode()[0])
df.isnull().sum()
df['Courier_Experience_yrs']=df['Courier_Experience_yrs'].fillna(df['Courier_Experience_yrs'].median())
df['Time_of_Day']=df['Time_of_Day'].fillna(df['Time_of_Day'].mode()[0])

In [13]:
df.isnull().sum()

Order_ID                  0
Distance_km               0
Weather                   0
Traffic_Level             0
Time_of_Day               0
Vehicle_Type              0
Preparation_Time_min      0
Courier_Experience_yrs    0
Delivery_Time_min         0
dtype: int64

In [14]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
df['Weather']=le.fit_transform(df['Weather'])
df.info()
df.head(2)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Order_ID                1000 non-null   int64
 1   Distance_km             1000 non-null   float64
 2   Weather                 1000 non-null   int64
 3   Traffic_Level           1000 non-null   object
 4   Time_of_Day             1000 non-null   object
 5   Vehicle_Type            1000 non-null   object
 6   Preparation_Time_min    1000 non-null   int64
 7   Courier_Experience_yrs  1000 non-null   float64
 8   Delivery_Time_min       1000 non-null   int64
dtypes: float64(2), int64(4), object(3)
memory usage: 70.4+ KB

,Order_ID,Distance_km,Weather,Traffic_Level,Time_of_Day,Vehicle_Type,Preparation_Time_min,Courier_Experience_yrs,Delivery_Time_min
0,522,7.93,4,Low,Afternoon,Scooter,12,1.0,43
1,738,16.42,0,Medium,Evening,Bike,20,2.0,84

In [15]:
df.dropna(inplace=True)
df.isnull().sum()

Order_ID                  0
Distance_km               0
Weather                   0
Traffic_Level             0
Time_of_Day               0
Vehicle_Type              0
Preparation_Time_min      0
Courier_Experience_yrs    0
Delivery_Time_min         0
dtype: int64

In [16]:
le=LabelEncoder()
df['Weather']=le.fit_transform(df['Weather'])
df['Traffic_Level']=le.fit_transform(df['Traffic_Level'])
df['Time_of_Day']=le.fit_transform(df['Time_of_Day'])
df['Vehicle_Type']=le.fit_transform(df['Vehicle_Type'])
df

,Order_ID,Distance_km,Weather,Traffic_Level,Time_of_Day,Vehicle_Type,Preparation_Time_min,Courier_Experience_yrs,Delivery_Time_min
0,522,7.93,4,1,0,2,12,1.0,43
1,738,16.42,0,2,1,0,20,2.0,84
2,741,9.52,1,1,3,2,28,1.0,59
3,661,7.44,2,2,0,2,5,1.0,37
4,412,19.03,0,1,2,0,16,5.0,68
...,...,...,...,...,...,...,...,...,...
995,107,8.50,0,0,1,1,13,3.0,54
996,271,16.28,2,1,2,2,8,9.0,71
997,861,15.62,3,0,1,2,26,2.0,81
998,436,14.17,0,1,0,0,8,0.0,55
999,103,6.63,1,1,3,2,24,3.0,58

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Order_ID                1000 non-null   int64
 1   Distance_km             1000 non-null   float64
 2   Weather                 1000 non-null   int64
 3   Traffic_Level           1000 non-null   int64
 4   Time_of_Day             1000 non-null   int64
 5   Vehicle_Type            1000 non-null   int64
 6   Preparation_Time_min    1000 non-null   int64
 7   Courier_Experience_yrs  1000 non-null   float64
 8   Delivery_Time_min       1000 non-null   int64
dtypes: float64(2), int64(7)
memory usage: 70.4 KB

In [18]:
df.duplicated().sum()

np.int64(0)

In [19]:
df.drop_duplicates(inplace=True)

In [20]:
x=df.drop(['Delivery_Time_min'],axis=1)
print(x)
y=df['Delivery_Time_min']
print(y)
from sklearn.preprocessing import StandardScaler
st=StandardScaler()
r=st.fit_transform(x)

     Order_ID  Distance_km  Weather  Traffic_Level  Time_of_Day  Vehicle_Type  \
0         522         7.93        4              1            0             2
1         738        16.42        0              2            1             0
2         741         9.52        1              1            3             2
3         661         7.44        2              2            0             2
4         412        19.03        0              1            2             0
..        ...          ...      ...            ...          ...           ...
995       107         8.50        0              0            1             1
996       271        16.28        2              1            2             2
997       861        15.62        3              0            1             2
998       436        14.17        0              1            0             0
999       103         6.63        1              1            3             2

     Preparation_Time_min  Courier_Experience_yrs
0                      12                     1.0
1                      20                     2.0
2                      28                     1.0
3                       5                     1.0
4                      16                     5.0
..                    ...                     ...
995                    13                     3.0
996                     8                     9.0
997                    26                     2.0
998                     8                     0.0
999                    24                     3.0

[1000 rows x 8 columns]
0      43
1      84
2      59
3      37
4      68
       ..
995    54
996    71
997    81
998    55
999    58
Name: Delivery_Time_min, Length: 1000, dtype: int64

In [21]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)
model=LinearRegression()
model.fit(x_train,y_train)
y_pred=model.predict(x_test)
print(y_pred)                              #this is for train(standardscaler)

[39.92433282 64.20658639 38.04972587 48.72093895 93.08709719 35.05814451
 63.07716944 35.07592007 29.42393631 70.39937335 69.90985036 65.31131838
 30.6781986  76.2546538  88.13855933 92.52690206 29.91825888 67.68511306
 43.90145604 58.12476869 88.77823221 26.27904451 78.05995261 73.91239315
 56.33988254 30.42695051 80.3423325  23.049446   47.40764741 62.29074504
 61.49409248 22.99307851 61.92949144 41.33384985 73.92600046 17.5761931
 68.86635447 52.88689868 45.82412709 72.49354753 73.88487551 37.42975105
 76.53422897 64.69268042 36.57660277 20.88250811 90.97688618 89.06260175
 82.69306126 32.02789027 57.9255413  62.49350935 43.34995966 74.01906438
 51.26466206 52.45151297 69.54918525 74.91767595 63.60893791 87.20316539
 49.87490675 44.9685513  42.53188784 52.41713171 48.51808712 65.77579604
 68.4098452  88.53427005 68.54165075 53.39690167 74.31607494 32.3505797
 90.04474663 30.11927033 63.21793134 56.04135552 42.71054771 41.14672765
 46.21318155 28.78635813 55.43048532 80.07408744 56.57689884 28.61228465
 34.53950339 74.43154927 62.5523562  73.8572328  47.81944239 71.2020328
 45.5738817  60.2579883  51.97962607 43.38857027 64.12626564 72.73711444
 48.76503596 52.06809103 42.89979015 31.59122529 36.03473842 53.61259724
 32.38541778 28.41831177 50.23801848 22.99864554 40.91025174 17.44772831
 86.85963196 36.41065682 60.08284173 51.58479851 62.56818219 41.66984926
 91.11398134 33.59848319 57.71641197 69.14577609 32.12181594 62.82974811
 63.32529037 79.66380815 53.01190282 65.12883986 49.29777969 69.51397662
 35.33460254 64.04435984 46.21872366 41.09073686 49.19531099 52.19257025
 71.93471326 49.72339093 65.43166613 54.10425295 67.37469169 74.54610799
 64.56855695 40.48062588 36.52948466 34.15102189 77.83898524 73.9708836
 56.84206937 64.80453388 92.19530466 69.70819512 71.12434639 27.30801063
 40.08877587 60.68369318 65.56425371 83.83274391 38.37859221 26.82131928
 46.09919615 41.36017325 69.33686426 65.59316046 97.07516721 80.70252522
 70.71118891 56.06316156 38.89116056 77.60152833 85.76501394 77.81768973
 44.41223486 83.20342559 52.80343354 54.77178976 36.98511302 52.30010957
 23.01851345 85.77171472 62.08367659 30.01615688 80.07638029 86.67228495
 54.09878947 40.4537243  72.78106082 44.49867281 92.59641986 38.74395244
 36.47872479 73.50411278 62.51325502 23.09734734 54.29169037 15.45664582
 50.0233047  38.53043919 45.79048652 77.6503589  27.72299457 54.69914717
 47.60724642 44.19430821]

In [22]:
from sklearn.metrics import r2_score,mean_squared_error
mse=mean_squared_error(y_test,y_pred)
r2=r2_score(y_test,y_pred)
print(mse)                             #this is for train(standardscaler)
print(r2)

109.77095966515706
0.7550996129468623

In [23]:
from sklearn.preprocessing import StandardScaler
st=StandardScaler()
r=st.fit_transform(x)                            #this is for test(standardscaler)                  # perfect fit

In [24]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)
from sklearn.linear_model import LinearRegression
model=LinearRegression()
model.fit(x_test,y_test)
pred=model.predict(x_test)

In [25]:
from sklearn.metrics import r2_score,mean_squared_error
mse=mean_squared_error(y_test,y_pred)
r2=r2_score(y_test,y_pred)
print(mse)
print(r2) #this is for test(standardscaler)                    # perfect fit

109.77095966515706
0.7550996129468623

In [26]:
from sklearn.preprocessing import MinMaxScaler
st=MinMaxScaler()
r=st.fit_transform(x)               # this is test(MinMaxScaler)

In [27]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)
from sklearn.linear_model import LinearRegression
model=LinearRegression()
model.fit(x_test,y_test)
pred=model.predict(x_test)

In [28]:
from sklearn.metrics import r2_score,mean_squared_error
mse=mean_squared_error(y_test,y_pred)
r2=r2_score(y_test,y_pred)
print(mse)
print(r2)                 # this is test(MinMaxScaler)           # perfect fit

109.77095966515706
0.7550996129468623

In [29]:
from sklearn.preprocessing import MinMaxScaler
st=MinMaxScaler()
r=st.fit_transform(x)           # this is train(MinMaxScaler)

In [30]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)
from sklearn.linear_model import LinearRegression
model=LinearRegression()
model.fit(x_train,y_train)
pred=model.predict(x_test)

In [31]:
from sklearn.metrics import r2_score,mean_squared_error
mse=mean_squared_error(y_test,y_pred)
r2=r2_score(y_test,y_pred)
print(mse)
print(r2)                     # this is train(MinMaxScaler)
                              # perfect fit

109.77095966515706
0.7550996129468623

In [32]:
from sklearn.ensemble import RandomForestClassifier   #RANDOM FOREST
model=RandomForestClassifier()                           #this is for train
model.fit(x_train,y_train)
pred_y=model.predict(x_test)

In [33]:
from sklearn.metrics import r2_score,mean_squared_error
mse=mean_squared_error(y_test,y_pred)               
r2=r2_score(y_test,y_pred)          
print(mse)
print(r2)

109.77095966515706
0.7550996129468623

In [41]:
from sklearn.ensemble import RandomForestClassifier   #RANDOM FOREST
model1=RandomForestClassifier()                           #this is for test
model1.fit(x_test,y_test)
pred_y=model.predict(x_test)

In [35]:
from sklearn.metrics import r2_score,mean_squared_error
mse=mean_squared_error(y_test,y_pred)               
r2=r2_score(y_test,y_pred)          
print(mse)
print(r2)

109.77095966515706
0.7550996129468623

In [ ]:
from sklearn.tree import DecisionTreeClassifier               #DECISION TREE
model=DecisionTreeClassifier()                               #this is for train
model.fit(x_train,y_train)
y_pred=model.predict(x_test)

In [37]:
from sklearn.metrics import r2_score,mean_squared_error
print(mean_squared_error(y_test,y_pred))
print(r2_score(y_test,y_pred))

229.055
0.48897542366788616

In [ ]:
from sklearn.tree import DecisionTreeRegressor               #DECISION TREE
model=DecisionTreeRegressor()                               #this is for test
model.fit(x_test,y_test)
y_pred=model.predict(x_test)

In [39]:
from sklearn.metrics import r2_score,mean_squared_error
print(mean_squared_error(y_test,y_pred))
print(r2_score(y_test,y_pred))

0.0
1.0